$black: #191919;
$bat-grey: #5e5b5a;
$white: #f4f4f4;
$light-grey: mix($white, $bat-grey, 40%);
$light-yellow: #f4f4c0;
$light-yellow--dark: mix($bat-grey, $light-yellow, 30%);
$austin-orange: #e57828;
$ttl-teal: #35beb7;

// theme
$color--bg: $bat-grey;
$color--header-bg: $black;
$color--copy: $black;
$color--header: $light-yellow;
$color--subhead: $austin-orange;
