$black: #000;
$white: #fff;
$light-yellow: #f4f4c0;
$austin-orange: #e57828;
$ttl-teal: #35beb7;

// theme
$color--bg: $black;
$color--copy: $white;
$color--header: $light-yellow;
$color--subhead: $austin-orange;
