.episode-page {
  @extend %max-980;
  @extend %flex-container;
  padding: 2em;
  margin: 1em auto 2em;

  audio {
    margin: 1em 0;
  }

  @include breakpoint(bp-2) {
    padding: 1em;
  }
}

.transcript {
  @extend %max-980;
  @extend %transition;
  border: 1px solid $lighter-grey;
  background: white;
  padding: 2em;
  height: 650px;
  overflow: hidden;

  @include breakpoint(bp-2) {
    padding: 1em 0;
  }

  hr {
    @extend %max-800;
    border-top: none;
    border-bottom: 1px solid $lighter-grey;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  &.js--open {
    height: auto;
  }

  p {
    @extend %max-800;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 2em;
    color: $austin-orange;
    text-align: center;

    & + p {
      text-align: center;
      color: $light-grey;
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: 1px solid $lighter-grey;
    }
  }
}

.episode--image {
  display: block;
  width: 400px;
  position: relative;
  margin-right: 2em;

  img {
    width: 100%;
    z-index: 1;
    position: relative;
  }

  &--main {
    box-shadow: .25em -.25em $austin-orange, -.25em .25em $ttl-teal;
  }

 @include breakpoint(bp-1) {
    margin-right: 0;
    display: block;
  }
}

.download-link {
  text-align: center;
}

.guest-twitter-link {
  &, &:hover, &:focus {
    background-image: url('../img/twitter-logo-blue.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 100%;
  }
  width: 1.48rem;
  height: 1.2rem;
  display: inline-block;
  border-bottom: 0;
  padding: 0;

}

.episode--meta-data {
  height: 400px;
  width: 400px;

  audio {
    width: 100%;
  }

  @include breakpoint(bp-1) {
    margin-top: 2em;
  }
}

.transcript-expand-button {
  @extend %font-stack;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  width: 100%;
  background: $austin-orange;
  border: none;
  padding: .5em;
  color: $white;
}
