.episode-page {
  @extend %max-980;
  padding: 2em;
  margin: 1em auto 2em;

  audio {
    margin: 1em 0;
  }
}

.transcript {
  @extend %max-980;
  @extend %transition;
  border: 1px solid $lighter-grey;
  background: white;
  padding: 2em;
  height: 650px;
  overflow: hidden;

  &.js--open {
    height: auto;
  }

  p {
    margin-bottom: 1em;
  }

  h2 {
    font-size: 2em;
    color: $austin-orange;
    text-align: center;

    & + p {
      text-align: center;
      color: $light-grey;
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: 1px solid $lighter-grey;
    }
  }
}

.episode-page {
  @extend %flex-container;
}

.episode--image {
  img {
    width: 100%;
    z-index: 1;
    position: relative;
  }

  &:before {
    content: '';
    width: 400px;
    height: 300px;
    display: block;
    position: absolute;
    top: -.4em;
    right: -.5em;
    background-color: $austin-orange;
  }
  &:after {
    content: '';
    width: 400px;
    height: 300px;
    display: block;
    position: absolute;
    top: .4em;
    right: .5em;
    background-color: $ttl-teal;
  }

  @extend %flex-item-1;
  display: block;
  height: 300px;
  width: 400px;
  position: relative;
  margin-right: 2em;

}

.episode--meta-data {
  @extend %flex-item-2;
  height: 400px;
  width: 400px;
}

.transcript-expand-button {
  @extend %font-stack;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  width: 100%;
  background: $austin-orange;
  border: none;
  padding: .5em;
  color: $white;
}