footer {
  text-align: center;
  width: 100%;
  padding: 1em;
  color: $black;
  background: $light-grey;
  font-style: italic;

  a {
    @extend %base-link;
    color: $bat-grey;
    border-bottom: none;
  }
}