footer {
  width: 100%;
  padding: 1em;
  color: $black;
  background: mix($white, $lighter-grey, 50%);

  p {
    @extend %max-780;
    padding: 2em;
    margin: 0 auto;

    &:last-child{
      padding-bottom: 2em;
    }
  }

  a {
    @extend %base-link;
  }

  h1 {
    text-align: center;
    font-weight: 800;
    margin-top: 1em;
  }
}