header {
  display: block;
  padding: 1em;
  overflow: hidden;
  width: 100%;
  background: $color--header-bg;
}

.header__logo {
  float: left;
  font-weight: 800;
  width: 85px;
}

.header__title--podcast {
  color: $color--header;
  float: left;
  font-size: 2.5em;
  margin: -6px 0 0 0.3em;
  position: relative;
  z-index: 2;

  &:before {
    content: 'Podcast';
    position: absolute;
    top: -.065em;
    right: -.065em;
    color: $austin-orange;
    z-index: -1;
  }
  &:after {
    content: 'Podcast';
    position: absolute;
    top: .065em;
    right: .065em;
    color: $ttl-teal;
    z-index: -1;
  }
}

.header__nav {
  position: absolute;
  right: 0;
  top: .75em;

  li {
    list-style: none;
    display: inline-block;
    margin: 0 .5em;

    &.twitter-link {
      margin-top: -1em;

      a {
        background: url('../img/twitter-logo.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        font-size: 0;
        line-height: 1.75rem;
        width: 1.25rem;
        height: 1.75rem;
        display: block;
      }
    }

    a {
      text-decoration: none;
      color: $light-yellow--dark;
      transition-duration: .5s;
      padding: .5em;
      border-bottom: 1px solid rgba($light-yellow--dark, 0);

      &:hover,
      &:active,
      &.selected {
        border-bottom: 1px solid $light-yellow--dark;
        color: $light-yellow;
      }
    }
  }
}