.home--upcoming {
  text-align: center;
  color: $light-grey;
  font-style: italic;
  padding: 1em;

  a {
    color: currentColor;
  }
}

.home--post-list {
  li:not(.main-sponsor-list--item) {
    display: block;
    overflow: hidden;
    background: $bat-grey;
    width: 100%;
    padding: 2em 0;
    color: $white;
    margin-top: 1em;

    audio {
      margin: 1em 0;
    }

    img {
      float: left;
      margin-right: 2em;
      width: 250px;
      position: relative;
      z-index: 1;
    }

    &:first-child {
      margin: -1em 0;
      background: $white;
      color: $bat-grey;
      font-size: 1.2em;

      p {
        font-size: .9em;
      }

      img {
        width: 400px;
      }

      .img-container {
        display: block;
        height: 0;
        width: 0;
        position: relative;

        &:before {
          content: '';
          width: 400px;
          height: 300px;
          display: block;
          position: absolute;
          top: -.4em;
          right: -21.3em;
          background-color: $austin-orange;
        }
        &:after {
          content: '';
          width: 400px;
          height: 300px;
          display: block;
          position: absolute;
          top: .4em;
          right: -20.4em;
          background-color: $ttl-teal;
        }
      }
      .main-sponsor-list--logo{
        margin: 0 .5em;
      }
    }
  }
}

.home--post-list--title {
  color: $ttl-teal;

  a {
    color: $ttl-teal;
    text-decoration: none;
  }
}

.home--post-list--date {
  font-style: italic;
  margin-bottom: 1em;
}

.home--sponsors {
  width: 100%;
  text-align: center;
  margin: 2em auto 0;
  font-size: .8em;

}

.main-sponsor-list {
  margin: 1em;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  &--logo{
    max-width: 80px;
  }

  [alt="Sauce Labs"] {
    max-width: 130px;
  }
}