.home--upcoming {
  text-align: center;
  color: $light-grey;
  font-style: italic;
  padding: 1em;

  a {
    color: currentColor;
    border-color: currentColor;
  }
}

.home--post-list {
  li:not(.main-sponsor-list--item) {
    display: block;
    overflow: hidden;
    background: $bat-grey;
    width: 100%;
    padding: 2em 0;
    color: $white;
    margin-top: 1em;

    audio {
      margin: 1em 0;
    }

    img {
      float: left;
      margin-right: 2em;
      width: 250px;
      position: relative;
      z-index: 1;
    }

    &:first-child {
      margin: -1em 0;
      background: $white;
      color: $bat-grey;
      font-size: 1.2em;

      p {
        font-size: .9em;
      }

      img {
        width: 400px;
        box-shadow: .25em -.25em $austin-orange, -.25em .25em $ttl-teal;
      }

      audio {
        width: 100%;
      }

      .main-sponsor-list--logo{
        margin: 0 .5em;
      }

    }
  }
}

.home--post-list--title {
  color: $ttl-teal;

  a {
    color: $austin-orange;
    text-decoration: none;
  }
}

.home--post-list--date {
  font-style: italic;
  margin-bottom: 1em;
}

.home--sponsors {
  width: 100%;
  text-align: center;
  margin: 2em auto 0;
  font-size: .8em;

}

.main-sponsor-list {
  margin: 1em;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  &--logo{
    max-width: 80px;
    box-shadow: none !important; //yes, I know.
  }

  [alt="Sauce Labs"] {
    max-width: 130px;
  }
}