.home--upcoming {
  text-align: center;
  color: $light-grey;
  font-style: italic;
  padding: 1em;

  a {
    color: currentColor;
    border-color: currentColor;
  }
}

.home--post-list {
  li:not(.main-sponsor-list--item) {
    display: block;
    overflow: hidden;
    background: $bat-grey;
    width: 100%;
    padding: 2em 0;
    color: $white;
    margin-top: 1em;

    audio {
      margin: 1em 0;
      width: 100%
    }

    .home--ep-info {
      display: block;
      overflow: hidden;
      padding: 0;

      @include breakpoint(bp-1) {
         width: 100%;
         @extend %max-800;
         margin: 0 auto;
         display: block;
       }
    }

    img {
      margin-top: 1em;
      float: left;
      margin-right: 2em;
      max-width: 250px;
      position: relative;
      z-index: 1;

      @include breakpoint(bp-1) {
        max-width: 500px;
        margin: 0 auto 1em;
        float: none;
        width: 100%;
        display: block;
       }
    }

    &:first-child {
      margin: -1em 0;
      background: $white;
      color: $bat-grey;
      font-size: 1.2em;

      p {
        font-size: .9em;
      }

      img {
        max-width: 400px;
        box-shadow: .25em -.25em $austin-orange, -.25em .25em $ttl-teal;

        @include breakpoint(bp-1) {
          max-width: 500px;
         }
      }

      .main-sponsor-list--logo{
        margin: 0 .5em;
      }

    }
  }
}

.home--post-list--title {
  color: $ttl-teal;

  a {
    color: $austin-orange;
    text-decoration: none;
  }
}

.home--post-list--date {
  font-style: italic;
  margin-bottom: 1em;
}

.home--sponsors {
  width: 100%;
  text-align: center;
  margin: 2em auto 0;
  font-size: .8em;

}

.main-sponsor-list {
  margin: 1em;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  &--logo{
    max-width: 80px !important;
    box-shadow: none !important; //yes, I know.
  }

  [alt="Sauce Labs"] {
    max-width: 130px;
  }
}