$bp-1: 420px;
$bp-2: 680px;

%max-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

%max-800 {
  max-width: 800px;
  margin: 0 auto;
}

%max-680 {
  max-width: 680px;
  margin: 0 auto;
}

%max-980 {
  max-width: 980px;
  margin: 0 auto;
}

.main-container {
  @extend %max-1200;
}

.header-container {
  @extend %max-1200;
  position: relative;
  display: block;
}

.max-contain {
  @extend %max-1200;
}

.med-contain {
  @extend %max-800;
}

%flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}