.sponsors-page {
  @extend %max-680;
  padding: 2em;
  height: 85%;

  h1, h2 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
  }

  li {
    list-style-type: none;
  }

  li img {
    max-width: 100px;
    max-height: 100px;
  }
}