.sponsors-page {
  @extend %max-800;
  padding-top: 2em;

  h1, h2 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
  }

  li {
    list-style-type: none;
    overflow: hidden;
    border-top: 1px solid $lighter-grey;
    padding-top: 2em;

    .img--container {
      float: left;
      width: 200px;
      height: 200px;
      margin: 0 2em ;
    }

    img {
      max-width: 190px;
      max-height: 140px;
    }
  }

  em {
    width: 100%;
    display: block;
    border-top: 1px solid $lighter-grey;
    padding-top: 2em;
  }
}