<html>
  <head>
    <title>My Site</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <%- partial("_partials/_header") %>
    <%- yield %>
    <%- partial("_partials/_footer") %>
  </body>
  <script src="js/scripts.js"></script>
</html>