<html>
  <head>
    <title>TTL Podcast</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- partial("_partials/_header") %>
    <%- partial("_partials/_hero") %>
    <main>
      <%- yield %>
    </main>
    <%- partial("_partials/_footer") %>
  </body>
</html>