<footer>
  <h1>About the TTL Podcast</h1>

  <p>The TTL Podcast (<a href="https://twitter.com/ttl_podcast">@ttl_podcast</a>) is produced and hosted by <a href="http://rmurphey.com">Rebecca Murphey</a>. Editing by Morgan Murphey. The show's web site was created in the <a href="https://github.com/rmurphey/ttlpodcast.com">open</a> by <a href="http://una.github.io">Una Kravets</a>. The website is made possible by <a href="https://travis-ci.org">Travis CI</a>.</p>

  <p>The show's theme is adapted from <a href="https://soundcloud.com/bamboostickk/ping-pong">Ping Pong</a> by BambooStickk, and is used according to the terms of the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a> license. Special thanks to <a href="http://bazaarvoice.com">Bazaarvoice</a>.</p>

  <p>For information about sponsorship opportunities, or if you'd like to appear on the show, please <a href="mailto:rmurphey+ttlpodcast@gmail.com">contact Rebecca</a>.</p>
</footer>