<footer>
<!--   <p>The TTL Podcast site was made with
    <a href="http://harpjs.com/">Harp</a> by
    <a href="http://una.github.io/">Una Kravets</a> & <a href="http://rmurphey.com">Rebecca Murphey</a>
    |  -->

    <h1>About the TTL Podcast</h1><p>The TTL Podcast is produced and hosted by <a href="http://rmurphey.com">Rebecca Murphey</a>. Editing by Morgan Murphey. The show's web site was created in the <a href="https://github.com/rmurphey/ttlpodcast.com">open</a> by <a href="http://una.github.io">Una Kravets</a>. The show's theme is adapted from <a href="https://soundcloud.com/bamboostickk/ping-pong">Ping Pong</a> by BambooStickk, and is used according to the terms of the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a> license. Special thanks to <a href="http://bazaarvoice.com">Bazaarvoice</a>. For information about sponsorship opportunities, please <a href="mailto:rmurphey+ttlpodcast@gmail.com">contact Rebecca</a>.</p>
</footer>