<header>
  <div class="header__title">
    <div class="header__logo"><%- partial("_logo") %></div>
    <h1 class="header__title--podcast">Podcast</h1>
    <h2 class="header__title--sub">Discussing Front-End Ops</h2>
  </div>
  <nav>
    <ul class="header__nav"></ul>
  </nav>
</header>