<script>
// Google Fonts
  WebFontConfig = {
    google: { families: [ 'Exo:400,800,400italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>
<header>
  <div class="header-container">
    <a href="/" class="header__title">
      <div class="header__logo"><%- partial("_logo") %></div>
    </a>
    <nav>
      <ul class="header__nav">
        <!-- <li><a <%if (current.source=='about') { %>class="selected"<% } %> href="/about">About</a></li> -->
        <li> <a href="/feeds/rss.xml">RSS</a></li>
        <li> <a href="/sponsors">Sponsors</a></li>
      </ul>
    </nav>
  </div>
</header>