<header>
  <div class="header-container">
    <a href="/" class="header__title">
      <div class="header__logo"><%- partial("_logo") %></div>
    </a>
    <nav>
      <ul class="header__nav">
        <!-- <li><a <%if (current.source=='about') { %>class="selected"<% } %> href="/about">About</a></li> -->
        <li> <a href="/feeds/rss.xml">RSS</a></li>
        <li> <a href="/sponsors">Sponsors</a></li>
        <li class="twitter-link"> <a href="https://twitter.com/ttl_podcast">@ttl_podcast</a></li>
      </ul>
    </nav>
  </div>
</header>