<html>
  <head>
    <title>About TTL</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main class="about-page">
      <%- yield %>
    </main>
    <%- partial("../_partials/_footer") %>
  </body>
</html>
