<html>
  <head>
    <title>About TTL</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- partial("_partials/_header") %>
    <main>
      <%- yield %>
    </main>
    <%- partial("_partials/footer") %>
  </body>
  <script src="/js/scripts.js"></script>
</html>
