<html>
  <meta charset="utf-8" />
  <head>
    <title>TTL Podcast Sponsors</title>
    <meta name="description" content="TTL Podcast Sponsors" />
    <%- partial("../_partials/_head") %>
  </head>
  <body>
    <%- partial("../_partials/_header") %>
    <main class="sponsors-page">
      <%- yield %>

      <p><em>For sponsorship information, contact
        <a href="mailto:rmurphey+ttlpodcast@gmail.com">Rebecca Murphey</a>.
      </em></p>
    </main>
    <%- partial("../_partials/_footer") %>
  </body>
</html>
